<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/3694d59e86.js"
      crossorigin="anonymous"
    ></script>
    <title>Carrito de Compra</title>
  </head>
  <body>
    <header>
      <div class="header-inicial">
        <div class="burger-menu">
            <i class="fa-solid fa-bars fa-lg"></i>
        </div>
        <a href="/"> <img class="logo" src="/images/logo-huellitasantiago-redondo.png" alt="Logo de la empresa"/></a>
       
        <div id="iconos-header">
            <a href="/login"> <i id="iconoUser" class="fa-regular fa-circle-user"></i></a>
            <a href="/cart"> <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </div>
    <div class="searchbox">
        <form action="/" method="get">
            <input type="text" id="" placeholder="Buscar producto, marcas"> <i id="busqueda"
                class="fa-solid fa-magnifying-glass"></i>
        </form>
    </div>

      <div class="header-tablet">
        <a href="/">  <img class="logo" src="/images/logo-huellitasantiago-redondo.png" alt="Logo de la empresa"></a>
        <div class="searchboxTablet">
          <form action="/" method="get">
            <input type="text" id="" placeholder="Buscar producto, marcas" />
            <i id="busqueda" class="fa-solid fa-magnifying-glass"></i>
          </form>
        </div>
        <div class="box-header-right">
          <div class="carritoHeader">
            <i class="fa-solid fa-cart-shopping"></i>
            <a href="">Compra (0)</a>
          </div>
          <div class="header-login-register">
            <a id="registerButton" href="/regiter">Registro</a>
            <a id="loginButton" href="/login">Iniciar sesión</a>
          </div>
        </div>
      </div>
      <nav>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="#">MASCOTAS</a></li>
          <li><a href="#">ENVIOS</a></li>
          <li><a href="#">MAYORISTAS</a></li>
          <li><a href="#">SALES</a></li>
        </ul>
      </nav>
    </header>

    <main>
        <p class="rutahome"><a href="/">Home</a> / Carrito</p>
        
        <div style="overflow-x:auto;">
        <table><!--Tabla Cart desde 361px-->
          
            <tr>
              <th scope="col" colspan="2">PRODUCTO</th>
              <th scope="col">PRECIO</th>
              <th scope="col" colspan="3">CANTIDAD</th>
              <th scope="col"colspan="2">TOTAL</th>
            </tr>
          
          
            <tr>
              <td id="row-img"><img src="/images/productos/accesorios/dispensers/comedero-azimut.png" alt="dispenser-azimut"/></td>
              <td>Dispenser Azimut 1,5 lts.</td>
              <td>$3.500</td>
              <td><i class="fa-solid fa-minus cant-icono"></td>
              <td><p id="descripcion">1</p></td>
              <td><i class="fa-solid fa-plus cant-icono"></i></td>
              <td>$3.500</td>
              <td><i class="fa-regular fa-trash-can"></i></td>
            </tr>
          

        </table><!--Fin Tabla Cart desde 361px-->
      </div>

        <div class="cart"> <!--Main -Cart-Sección completa Mobile -->
            <div class="detalle-producto"> <!--Producto agregado al cart -->
                <p id="nombre-producto">Dispenser Azimut 1,5 lts.<i class="fa-regular fa-trash-can"></i></p>               
                    <div class="cant-producto"><!--Producto mas cant seleccionada -->
                      <img src="/images/productos/accesorios/dispensers/comedero-azimut.png" alt="dispenser-azimut"/>                 
                        <div><!--Seccion para agregar o restar productos -->
                          <i class="fa-solid fa-plus cant-icono"></i>
                          <p id="descripcion">1</p>
                          <i class="fa-solid fa-minus cant-icono"></i>
                        </div>
                    </div>      
            <p id="precio-producto">$3.500</p>
             </div>

            <div class="resumen-compra">      
                <div class="descuento">        
                  <input type="text" name="cod-descuento" id="cod-descuento" placeholder="código de descuento"/>
                  <a href="#"><input type="button" name="aplicar-cod" id="aplicar-cod" value="APLICAR"/></a> 
                </div>
                <div class="detalle-compra">
                  <p id="">SUBTOTAL (sin envío): <span>$ 3.500</span></p>
                  <p id="">DESCUENTO: <span>$ 0.00</span></p>                  
                  <p id="">TOTAL (sin envío): <span>$ 3.500</span></p>
                </div>
                <div class="center"><!--Botones fin compra-->
                  <p><input
                    type="button"
                    name="fin-compra"
                    id="fin-compra"
                    value="FINALIZAR COMPRA"           
                  /></p>      
                
                  <p><input
                    type="button"
                    name="seguir-compra"
                    id="seguir-compra" 
                    value="SEGUIR COMPRANDO"
                  /></p>
                </div>
        </div><!--Fin Cart-Sección completa -->

    </main>

    <footer>
        <div class="seccionesFooter">
            <section class="footer1">
                <div class="formFooter">
                    <img class="logoFooter" src="/images/logo-huellitasantiago-redondo.png" alt="Logo de la empresa">
                    <form action="/" method="get">
                        <input type="text" id="" placeholder="Email"> <i id="busqueda"
                            class="fa-solid fa-arrow-up-right-from-square"></i>
                    </form>
                </div>

                <p><i id="sobre" class="fa-regular fa-envelope"></i> info@huellitasantiago.com</p>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-square-facebook"></i>
            </section>
            <section id="listadoFooter">
                <p class="negrita">Secciones</p>
                <ul>
                    <li><a>Quienes somos</a></li>
                    <li><a>Mayoristas</a></li>
                    <li><a>Sales</a></li>
                    <li> <a>Envíos</a></li>
                </ul>

            </section>
            <section id="listadoFooter">
                <p class="negrita">Mascotas</p>
                <ul>
                    <li><a>Perros</a></li>
                    <li><a>Gatos</a></li>
                </ul>
            </section>
            <section>
                <p class="negrita">Medios de pago</p>
                <img class="imgEnviosPagos" src="./images/mastercard.png">
                <img class="imgEnviosPagos" src="./images/visa.png">
            </section>
            <section>
                <p class="negrita">Envios</p>
                <img class="imgEnviosPagos" src="./images/andreani.png">
                <img class="imgEnviosPagos" src="./images/correo-argentino.png">
            </section>
        </div>
        <p id="copyright"> Copyright © 2023 Huellitasantiago</p>
    </footer>

  </body>

</html>
