.pagination{
        padding: 15px 10px;
        font-size: 16px;
        font-weight: bold;
}

.product {
    border: 1px solid black;
    border-radius: 8px;
    margin : auto;
    margin-top : 5px;
    padding: 10px;
    text-align: left;
    width : 70%;
    display : flex;
    align-items : center;
    justify-content : space-between;
}