.contenido{
    width: 90%;
    margin: auto;
}

.preciosOfertas{
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    display: flex;
    flex-direction: row;
}

#prodOff{
    color: red;
    font-size: 14px;
    font-weight: bold;
}

.precioAnt{
    text-decoration: line-through;
}

.precioAhora{
    font-size: 16px;
    font-weight: bold;
    color: green;
}

.red {
    color: red;
}

.textNegrita{
    font-weight: bold;
}

.textDescripcion{
    font-size: 18px;
}

@media (min-width: 361px){

}

@media (min-width: 768px){
  
}