@font-face {
  font-family: "fuenteAvenir";
  src: url("/fonts/AVENIR.TTC");
  src: url("/fonts/AvenirBlack.ttf");
  src: url("/fonts/AvenirBook.ttf");
  src: url("/fonts/AvenirHeavy.ttf");
  src: url("/fonts/AvenirLight.ttf");
  src: url("/fonts/AvenirRegular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  font-family: "fuenteAvenir";
  margin: 0px;
}

.error {
  color: red;
  margin-top: 2px;
}

header,
footer {
  padding: 10px;
  background-color: #6dbd9bff;
}

main {
  background-color: white;
}

nav {
  display: none;
}

.header-inicial {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.header-inicial a {
  color: black;
  text-align: center;
}

.header-inicial a:hover {
  color: #fbdd5bff;
}

.logo {
  width: 25%;
}

#iconos-header{
  display: flex;
}

i {
  font-size: 20px;
}

.burger-menu {
  font-size: 20px;
}

.searchbox,
.searchboxTablet {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.searchbox input {
  width: 100%;
  border: none;
}

.searchbox form {
  display: flex;
  flex-grow: 0.9;
}

#busqueda {
  background-color: #ebebeb;
  padding: 4px;
}

#iconoUser {
  margin-right: 10px;
}

.banner {
  width: 100%;
}

.carritoHeader a:hover{
  color: #18c1d8ff;
}

.header-login-register a:hover{
  color: #fbdd5bff;
}

/* CLaSES MAIN */

.categorias{
  text-align: center;
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.categorias img{
  width: 70%;
  border: solid 2px black;
  transition: transform 800ms ease-out;
}

.categorias img:hover{
  border: 3px solid #fbdd5bff;
  transform: scale(1.1);
}

.listadoArticulos{
  display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    /* margin: auto;*/
    margin: 0 5%;
    padding-top: 20px;
}

article {
  margin-bottom: 15px;
  background-color: #ebebeb;
  text-align: center;
  flex-basis: 90%;
  padding-bottom: 5px;
  box-shadow: 0px 0px 5px rgb(100, 100, 100);
}

article img {
  width: 95%;
  margin-top: 10px;
}

.detalle p {
  margin: 0px;
  font-weight: bold;
}

.verproductos {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.verproductos input{
  background-color: #6dbd9bff;
    padding: 10px;
    border-radius: 10px;
    border: 1px black solid;
    font-size: 15px;
    font-weight: bold;
}

#btn-comprar{
  background-color: black;
  border: none;
  font-size: 12px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0px;
}

#btn-comprar:hover{
  background-color: gray;
}

.verproductos input:hover{
  background-color: #fbdd5bff;
}

.marcas{
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  margin: auto;
}

.marcas img{
  width: 30%;
  padding: 5px 5px;
}

/*CSS Cart Page-*/

.resumen-compra{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px 20px;
  border-top: double 3px grey;  
}

#breadcrumbs{
  border-top: solid 2px gray;
  padding: 5px 20px;
  font-size: 12px;
}

.detalle-producto{
  justify-content: space-between;    
  flex-direction: column;
  display: flex;
}

p#nombre-producto{
  padding: 0px 27px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-bottom: 0px;
  margin-top: 0px;
}

.cant-producto{
  padding: 0px 15px;
  align-items: center;
  justify-content: space-between;    
  display: flex;
}

.cant-producto div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cant-producto img{
  width: 30%;
}

.cant-icono {
  border: none;
  background-color: #6dbd9bff;
  border-radius: 40% ;
  font-weight: bold;
  padding: 5px 5px;
  font-weight: bold;
  font-size: 14px;  
}

p#descripcion{
  margin: 0px 2px;
}

#precio-producto{
  text-align: right;
  font-weight: bold;
  margin-right: 15px;
  margin-top: 0px;  
}

#cod-descuento{
  margin-right: 5px; 
  padding: 10px;
  width: 55%;
  text-align: center;
  border-radius: 10px;
  border: 2px black solid;
  font-size: 15px;
  font-weight: bold;
}

#aplicar-cod, #inicio-compra, #seguir-compra{
  background-color: #6dbd9bff;
  border: 2px black solid;
  padding: 10px 25px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
}

.center{
  text-align: center;
}

#aplicar-cod:hover, #inicio-compra:hover, #seguir-compra:hover{
  background-color: #fbdd5bff;
}

.detalle-compra{
  text-align: right;
  font-weight: bold;
}

table{
  display:none;
}

/*fin CSS Cart Page*/

/* fin class main*/

/* estilos pagina producto */
#breadcrumbs{
  border-top: solid 2px gray;
  padding: 5px 20px;
  font-size: 12px;
}

.sinmargin{
 margin: 0px;
}

.margin-top{
  margin-bottom: 0px;
}

.margin-botton{
  margin-top: 10px;
}

.ficha-producto{
  width: 90%;
  margin: auto;
}

.imgProducto{
  display: flex;
  flex-direction: column;
}

.detalleProducto{
  padding: 2px 5px;
  text-align: justify;
  font-size: 15px;
}

.imgPrincipal{
  width: 50%;
  display: flex;
  margin: auto;
}

.fotos{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.fotos img{
  width: 30%;
  border: solid 1px gray;
}

.cantidad-icono{
  border: none;
  background-color: #6dbd9bff;
  border-radius: 40% ;
  font-weight: bold;
  padding: 10px 15px;
  font-weight: bold;
}

.cantidad-producto{
  text-align: center;
  border: 0px;
  width: 30%;
  font-size: 15px;

}

#comprar{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  padding-bottom: 10px;
  width: 60%;
  margin: auto;
}

.addtocart{
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 10px;
  background-color: black;
  color: white;
  border: none;
}

#carritoProducto a{
  color: black;
}
/* fin */

/* CLASES FOOTER*/
.seccionesFooter {
  text-align: center;
}

.imgEnviosPagos {
  width: 20%;
}

.formFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.formFooter form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formFooter form input {
  border: none;
  padding: 6px;
}

#listadoFooter ul {
  width: 60%;
  text-align: left;
  margin: auto;
}

#listadoFooter ul li {
  padding-bottom: 5px;
}

#listadoFooter ul li a {
  color: black;
}

#listadoFooter ul li a:hover {
  color: #fbdd5bff;
}

.negrita {
  font-weight: bold;
  font-size: 18px;
}

#copyright {
  text-align: center;
  font-size: 12px;
  padding-top: 15px;
}

.header-tablet {
  display: none;
}

.logoFooter {
  width: 20%;
}

.tituloProductosDestacados {
  background-color: #18c1d8ff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

/* CSS CART */

.detalle-total {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px 20px;
}
  
/* FIN CSS CART*/
/* Estilos para el main menu usuario mobile */

.cabezausuario {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cabezausuario img {
  margin-right: 20px;
  padding: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50px;
}

.cabezausuario .nombre {
  font-size: 20px;
  margin-bottom: 0;
}

.cabezausuario .correo {
  font-size: 12px;
  margin-top: 0;
}

.perfil , .actividad , .configuracion , .sesiones {
  width: 90%;
  margin: auto;
  padding-top: 10px;
  margin-bottom: 15px;
}

.perfil p , .actividad p , .configuracion p {
  margin: 2px;
  padding-bottom: 5px;
}

.perfil .opciones , .actividad .historial , .configuracion .config, .sesiones {
  border-bottom: 1px lightgray solid;
  color: black;
}


.perfil a, .opciones a, .actividad .historial a, .configuracion a, .config a, .sesiones a, .sesion a{
  color: black;
}

.perfil a:hover, .opciones a:hover, .actividad a:hover, .historial a:hover , .configuracion a:hover, .config a:hover, .sesiones a:hover{
  color: #18c1d8ff;
  text-decoration: underline;
}


.mainusuario i {
  color: #6dbd9bff;
  text-decoration: solid;
}

/* FIN Estilos para el main menu usuario mobile*/

/* Estilos para el main login mobile */

.mainlogin {
  padding-top: 20px;
  padding-bottom: 20px;
}

.rutahome {
  padding-left: 15px;
}

.rutahome a{
  color: black;
}

.rutahome a:hover {
  color: #18c1d8ff;
  text-decoration: underline;
}

.mainlogin form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  align-items: center;
}

.mainlogin input {
  width: 100%;
  background-color: rgb(240, 240, 240) ;
  height: 40px;
  border-radius: 5px;
}

.olvidasteclave {
  text-align: center;
  text-decoration: underline;
}

.olvidasteclave a {
  color: black;
}

.olvidasteclave a:hover {
  color: #18c1d8ff;
  text-decoration: underline;
}

.mainlogin button {
  background-color: #6dbd9bff;
  padding: 10px;
  border-radius: 10px;
  border: 2px black solid;
  font-size: 15px;
  font-weight: bold;
  width: 200px;
}

.mainlogin button:hover {
  background-color: #fbdd5bff;
  text-decoration: none;
}

button a {
  color: black;
  text-decoration: none;
}

.opcionrecordarme {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.opcionrecordarme input {
  width: 20px;
  height: 20px;
}

.notenescuenta {
  text-align: center;
}

.notenescuenta a {
  color: black;
}

.notenescuenta a:hover {
  color: #18c1d8ff;
  text-decoration: underline;
}

#formRegistro {
  background-color: #EEEEEE;
  padding: 20px 30px;
  width: 80%;
}

.VALIDACION img {
  width:200px ;
}

/* Estilos para el main menu usuario mobile */

.cabezausuario {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cabezausuario img {
  margin-right: 20px;
  padding: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50px;
}

.cabezausuario .nombre {
  font-size: 20px;
  margin-bottom: 0;
}

.cabezausuario .correo {
  font-size: 12px;
  margin-top: 0;
}

.perfil , .actividad , .configuracion , .sesiones {
  width: 90%;
  margin: auto;
  padding-top: 10px;
  margin-bottom: 15px;
}

.perfil p , .actividad p , .configuracion p {
  margin: 2px;
  padding-bottom: 5px;
}

.perfil .opciones , .actividad .historial , .configuracion .config {
  border-bottom: 1px lightgray solid;
}

.mainusuario i {
  color: #6dbd9bff;
  text-decoration: solid;
}

@media (min-width: 361px) {
  .tituloProductosDestacados {
    font-size: 25px;
  }

  .seccionesFooter {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    font-size: 14px;
  }

  .seccionesFooter section {
    width: 100%;
  }

  .formFooter {
    display: block;
    padding-top: 10px;
  }

  .negrita {
    text-align: left;
    margin-left: 20%;
    font-size: 15px;
  }

  #sobre {
    font-size: 13px;
  }

  .categorias{
    flex-direction: row;
  }
  
  .marcas img{
    width: 50%;
    flex-basis: 50%;
  }

  .categorias div {
    width: 50%;
  }

  .categorias img{
    width: 90%;
    margin: 10px;
    box-sizing: border-box;
  }

  .marcas{
    justify-content: space-around;
  }

  .marcas img{
    width: 30%;
    padding: 15px 5px;
  } 

  article{
    flex-basis: 47%;
  }

  /*Inicio CSS Cart Page*/

  p#descripcion{
    font-size: 20px;
    margin: 0px 10px;
  }

  .cant-icono {       
    padding: 10px 10px;
   
  }

  .cant-producto{
    justify-content: space-around;
  }

  .descuento{
    text-align: right;
  }
  /*Fin CSS Cart Page*/

  /* .rutahome {
    display: none;
  } */

} 

@media (min-width: 768px) {
  header {
    padding: 0px;
  }

  .marcas{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 20px 20px;
    width: 90%;
    margin: auto;
  }

  .marcas img{
    width: 10%;
    margin: 30px 20px;
  }

  .searchboxTablet {
    display: inline-flex;
    width: 60%;
    align-items: center;
    margin: auto;
  }

  .searchboxTablet input {
    width: 100%;
    border: none;
  }

  .searchboxTablet form {
    display: flex;
    flex-grow: 0.9;
  }

  .header-inicial,
  .searchbox {
    display: none;
  }

  .logo {
    width: 100%;
    box-sizing: border-box;
    margin-right: 15px;
  }

  .header-tablet {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
  }

  .header-tablet a{
    width: 10%;
    padding: 0px 10px;
  }

  nav {
    display: flex;
  }

  .box-header-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
  }

  .carritoHeader {
    background-color: black;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
  }

  .carritoHeader a {
    color: white;
    text-decoration: none;
  }

  .header-login-register a {
    color: black;
    text-decoration: none;
  }

  .header-login-register #registerButton {
    padding-right: 8px;
    border-right: solid 2px black;
  }

  .header-login-register #loginButton {
    padding-left: 8px;
  }

  nav a {
    text-decoration: none;
    color: black;
  }

  nav {
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid gray;
  }

  nav ul {
    display: flex;
  }

  nav ul li {
    padding: 0 20px;
    list-style: none;
    font-weight: bold;
  }

  nav ul li a:hover{
   
    color: #18c1d8ff;
  }

  .logoFooter {
    width: 20%;
  }

  .categorias {
    margin-top: 20px;
  }

  .categorias div{
    flex-basis: 50%;
    text-align: center;
    flex-wrap: wrap;
  }

  .categorias img{
    width: 80%;
  }

  article{
    flex-basis: 22%;
  }

  /*CSS Cart Page*/

  .descuento{
    text-align: right;
  }

  #cod-descuento{
    width: 30%;
  }

  /*CSS Cart Page tablet en adelante*/

  .detalle-compra{
    text-align: right;   
  }

  .detalle-producto{
    display:none;
  }

  table{
    justify-content: center;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px;
    display: flex;
    font-size: 16px;
    margin: 0%;
    padding: 0%;
  }

  table img{
    width: 60%;
    height: auto;
  }

  #row-img{
    width: 20%;
  }

  tr{
    text-align: center;
    border-bottom: 2px solid grey;
  }

  th:nth-child(PRODUCTO) {
    width: 20%;
    height: auto;
  }
  
  th:nth-child(PRECIO) {
    width: 10%;
    height: auto;
  }
  
  th:nth-child(CANTIDAD) {
    width: 30%;
    height: auto;
  }
  
  th:nth-child(TOTAL) {
    width: 20%;
    height: auto;
  }
  
  th,
  td {
    padding: 20px;
    text-align: center;
  }

  .descuento{
    text-align: right;   
  }
  
  .resumen-compra{
    border: none;
  }
  
  /*Fin CSS Cart Page*/
  

  .seccionesFooter {
    flex-direction: row; 
    font-size: 13px;
  }

  /* estilo pagina producto*/
  .fotos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    gap: 15px;
    margin-top: 15px;
  }

  .fotos img {
    width: 40%;
  }

  #imgProducto{
    display: flex;
    flex-direction: row-reverse;
  }

  #img-precio{
    margin: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }

  .ficha-producto{
    width: 80%;
    margin: auto;
  }

  #comprar{
    margin-top: 30px;
    width: 50%;
  }

  #carritoProducto{
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 20px;
  }
  /* fin */

  /* Estilos para el main login tablet */
   .mainlogin form {
    width: 460px;
  }

  #formRegistro {
    width: 40%;
  } 
}
