<!DOCTYPE html>
<html lang="en">
<!-- include head -->
<%- include('./partials/head') %>

<body>
    <!-- include header -->
    <%- include('./partials/header') %>
   
    <main>
        <section>
            <h2 class="center"> La página solicitada no existe, por favor verifique su búsqueda. </h2>
            <br>
            <br>            
        </section>

        <!-- include marcas -->
        <%- include('./partials/marcas') %>
    </main>
     <!-- include footer -->
     <%- include('./partials/footer') %>

</body>

</html>