<!DOCTYPE html>
<html lang="en">
  <!-- include head -->
  <%- include('./partials/head') %>

  <body>
    <!-- include header -->
    <%- include('./partials/header') %>

    <main>
      <section class="contenido">
        <h1 class="center">ENVIOS</h1>
        <p><strong> 1) CORREO ARGENTINO A TODO EL PAÍS </strong></p>
        <p>
          Llegamos con Correo Argentino a todo el país. El envío se realiza a la
          sucursal de tu respectiva localidad. Despachamos en el Correo todos
          los LUNES, MIÉRCOLES Y VIERNES. Una vez despachados, los tiempos de
          entrega los maneja Correo Argentino. Importante: Todos los productos
          frágiles son despachados con un embalaje protector y la indicación
          "frágil". No nos hacemos responsables por como son manipulados por
          Correo Argentino, y por lo tanto por el estado en el que llegan a
          destino.
        </p>
        <p><strong> 2) ANDREANI A TODO EL PAÍS </strong></p>
        <p>
          Llegamos con Andreani a todo el país. El envío se realiza a la
          sucursal de tu respectiva localidad. Despachamos en el Correo todos
          los MARTES y JUEVES. Una vez despachados, los tiempos de
          entrega los maneja Correo Andreani. Importante: Todos los productos
          frágiles son despachados con un embalaje protector y la indicación
          "frágil". No nos hacemos responsables por como son manipulados por
          Andreani, y por lo tanto por el estado en el que llegan a destino.
        </p>
      </section>
    </main>

    <!-- include footer -->
    <%- include('./partials/footer') %>
  </body>
</html>
