<!DOCTYPE html>
<html lang="en">
<!-- include head -->
<%- include('./partials/head') %>

<body>
    <!-- include header -->
    <%- include('./partials/header') %>

<main>

    <div class="desc-mayoristas">
    <p class="text-mayorista">    
    隆Bienvenido a la secci贸n mayorista de Huellitasantiago,  para obtener productos de alta calidad destinados a perros y gatos! Nuestro objetivo es satisfacer las necesidades de aquellos que buscan comprar al por mayor, brindando una experiencia de compra conveniente y eficiente. <b>Aqu铆, encontrar谩s una amplia gama de productos distribuidos en cuatro categor铆as principales: alimentos, salud, accesorios y ropa para mascotas.</b> 
        <br>
        <br>
        <b>Alimentos:</b>
        Descubre una selecci贸n diversa de alimentos premium para perros y gatos. Desde croquetas balanceadas hasta alimentos especializados para necesidades diet茅ticas espec铆ficas, ofrecemos opciones nutritivas que garantizan la salud y el bienestar de tus mascotas. Trabajamos con marcas reconocidas y comprometidas con la calidad. 别
        <br>
        <br>
        <b>Salud:</b>
        En esta categor铆a, encontrar谩s productos destinados a mantener la salud y vitalidad de tus mascotas. Desde suplementos nutricionales hasta productos para el cuidado dental, nos aseguramos de ofrecer art铆culos que contribuyan al bienestar general de perros y gatos. 
        <br>
        <br>
        <b>Accesorios:</b>
        Explora una amplia gama de accesorios dise帽ados para mejorar la vida cotidiana de tus mascotas. Desde juguetes interactivos hasta correas y collares de alta calidad, nuestra secci贸n de accesorios est谩 pensada para proporcionar comodidad y estilo a tus animales de compa帽铆a. 攫攫
        <br>
        <br>        
        <b>Ropa para Mascotas:</b>
        Mant茅n a tus perros y gatos a la moda con nuestra colecci贸n de ropa para mascotas. Desde abrigos c贸modos hasta divertidos disfraces, ofrecemos una variedad de opciones para que tus peludos amigos luzcan adorables en cualquier ocasi贸n. Д
        <br>
        <br>
        Huellitasantiago se enorgullece de ofrecer servicios personalizados para clientes mayoristas. Disfruta de descuentos atractivos, opciones de env铆o eficientes y un equipo de atenci贸n al cliente dedicado para garantizar una experiencia de compra sin complicaciones. 
        <br>
        <br>
        Todos los d铆as nos esforzamos por ser tu socio confiable en la provisi贸n de productos para el cuidado de mascotas. 隆Explora nuestra secci贸n mayorista y descubre c贸mo podemos ayudarte a satisfacer las necesidades de tus clientes con productos de alta calidad para perros y gatos! 娥别
    </p>
    <br>
    <br>
        <p>Contactanos: info@huellitasantiago.com</p>
    </div>

</main>

<!-- include footer -->
<%- include('./partials/footer') %>
   
</body>

</html>