<!DOCTYPE html>
<html lang="en">
  <!-- include head -->
  <%- include('./partials/head') %>

  <body>
    <!-- include header -->
    <%- include('./partials/header') %>

    <main >
      <section class="contenido">
        <h1 class="center">MEDIOS DE PAGO</h1>
        <p><strong> 1) Transferencia bancaria </strong></p>
        <p>
          Actualmente estamos aceptando pagos unicamente mediante transferencia bancaria.
        </p>
        <p>
           Una vez realizado el pedido se habilitará la información de la cuenta a donde realizar la transferencia. 
           Es importante envíes el comprobante de pago a: info.pedidos@huellitasantiago.com junto a tu nro de pedido unas vez realizado el pedido. 
          </p>
        <p><strong> 2) Pagos con tarjeta de crédito/débito</strong></p>
        <p>
          Nos encontramos trabajando para habilitar a la brevedad esta forma de pago. 
          Notificaremos en cuanto dicha funcionalidad se encuentre habilitada.
        </p>
      </section>
      
    </main>

    <!-- include footer -->
    <%- include('./partials/footer') %>
  </body>
</html>
