<!DOCTYPE html>
<html lang="en">
<!-- include head -->
<%- include('./partials/head') %>
<link href="/css/about.css" rel="stylesheet"/>

<body>
    <!-- include header -->
    <%- include('./partials/header') %>
       
    <main>
        <div class="pantallaquienessomos">
            <div class="textoquienessomos">
                <h1>Quiénes somos</h1>
                <p>En Huellitasantiago reconocemos a las mascotas como un miembro más de la familia, 
                    a las que debemos cuidar, proteger, y brindar el mejor cuidado para que 
                    tengan una excelente calidad de vida. Para ello ofrecemos la más amplia 
                    variedad en productos alimenticios, accesorios, artículos de higiene, 
                    ¡y mucho más!
                </p>
            </div>
            <div class="imagenfamilia">
                <img src="/images/familia.jpg"/>
            </div>
        </div>
    </main>

    <!-- include footer -->
    <%- include('./partials/footer') %>
</body>

</html>