<!DOCTYPE html>
<html lang="en">
<!-- include head -->
<%- include('./partials/head') %>

<body>
    <!-- include header -->
    <%- include('./partials/header') %>
       
    <main >
        <h1>QUIENES somos</h1>
    </main>

    <!-- include footer -->
    <%- include('./partials/footer') %>
</body>

</html>