<!DOCTYPE html>
<html lang="en">
<!-- include head -->
<%- include('./partials/head') %>

<body>
    <!-- include header -->
    <%- include('./partials/header') %>
       
    <main >
        <section class="contenido">
            <h1 class="center">SALES</h1>
            <h3 class="center ">¡Tenemos accesorio en liquidación! Aprovecha 30% off</h3>
        </section>
        <section class="listadoArticulos">
            <article>
               <a href="/product/1"><img src="/images/productos/accesorios/varios/cinturon-seguridad-estrella-negro.png" alt="Cinturon seguridad"></a>
                <div class="detalle">
                    <p id="">Cinturón de seguridad</p>
                    <div class="preciosOfertas">
                        <p class="precioAnt" id="">$3.700</p>
                        <p class="precioAhora" id="">$2.590</p> 
                    </div>
                    <a><input type="button" value="Comprar" id="btn-comprar"/></a>
                </div>
            </article>

             <article>
                <img src="/images/productos/accesorios/varios/dispenser-bolsas-biodegradables.png" alt="Dispenser bolsas biodegradables">
                <div class="detalle">
                    <p id="">Dispenser con bolsas biodegradables</p>
                    <div class="preciosOfertas">
                        <p class="precioAnt" id="">$1.900</p>
                        <p class="precioAhora" id="">$1.330</p> 
                    </div>
                    <a><input type="button" value="Comprar" id="btn-comprar"/></a>
                </div>
            </article>
            <article>
                <img src="/images/productos/accesorios/varios/rascador-gato.png" alt="Rascador">
                <div class="detalle">
                    <p id="">Rascador para gatos</p>
                    <div class="preciosOfertas">
                        <p class="precioAnt" id="">$6.250</p>
                        <p class="precioAhora" id="">$4.375</p> 
                    </div>
                    <a><input type="button" value="Comprar" id="btn-comprar"/></a>
                </div>
            </article>
            <article>
                <img src="/images/productos/accesorios/varios/funda-auto.png" alt="Fundas para autos">
                <div class="detalle">
                    <p id="">Fundas para autos</p>
                    <div class="preciosOfertas">
                        <p class="precioAnt" id="">$13.750</p>
                        <p class="precioAhora" id="">$9.625</p> 
                    </div>
                    <a><input type="button" value="Comprar" id="btn-comprar"/></a>
                </div>
            </article>
        </section>
        <p>

        </p>
    </main>

    <!-- include footer -->
    <%- include('./partials/footer') %>
</body>

</html>