<script src="/js/footer.js"></script>
<footer>
    <div class="seccionesFooter">
        <section class="footer1">
            <div class="formFooter">
                <img class="logoFooter" src="/images/logo-marron-redondo.png" alt="Logo de la empresa">
                <form action="" method="post" id="formSendMail">
                    <input type="text" id="email" placeholder="Email"> <button class="btnSendMail" id="send"> <i id="busqueda" name="busqueda"
                        class="fa-solid fa-arrow-up-right-from-square"></i></button>
                </form>
                <small id="msjErrorEmail" class="msjError"></small> 
            </div>

            <p><i id="sobre" class="fa-regular fa-envelope"></i> info@huellitasantiago.com</p>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-facebook"></i>
        </section>
        <section id="listadoFooter">
            <p class="negrita">Secciones</p>
            <ul>
                <li><a href="/about">Quienes somos</a></li>
                <li><a href="/mayoristas">Mayoristas</a></li>
                <li><a href="/sales">Sales</a></li>
                <li><a href="/envios">Envíos</a></li>
                <li><a href="/mediospago">Medios de pago</a></li>
            </ul>
        </section>
        <section id="listadoFooter">
            <p class="negrita">Mascotas</p>
            <ul>
                <li><a href="/products/perros">Perros</a></li>
                <li><a href="/products/gatos">Gatos</a></li>
            </ul>
        </section>
        <section>
            <p class="negrita">Medios de pago</p>
            <p class="">- Tarjetas (proximamente)</p>
            <img class="imgEnviosPagos" src="/images/mastercard.png">
            <img class="imgEnviosPagos" src="/images/visa.png">
            <p class="">- Transferencia bancaria</p>
        </section>
        <section>
            <p class="negrita">Envios</p>
            <img class="imgEnviosPagos" src="/images/andreani.png">
            <img class="imgEnviosPagos" src="/images/correo-argentino.png">
        </section>
    </div>
    <p id="copyright"> Copyright © 2024 Huellitasantiago</p>

</footer>