<footer>
    <div class="seccionesFooter">
        <section class="footer1">
            <div class="formFooter">
                <img class="logoFooter" src="/images/logo-marron-redondo.png" alt="Logo de la empresa">
                <form action="/" method="get">
                    <input type="text" id="" placeholder="Email"> <i id="busqueda"
                        class="fa-solid fa-arrow-up-right-from-square"></i>
                </form>
            </div>

            <p><i id="sobre" class="fa-regular fa-envelope"></i> info@huellitasantiago.com</p>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-facebook"></i>
        </section>
        <section id="listadoFooter">
            <p class="negrita">Secciones</p>
            <ul>
                <li><a href="/about">Quienes somos</a></li>
                <li><a href="/mayoristas">Mayoristas</a></li>
                <li><a href="/sales">Sales</a></li>
                <li><a href="/envios">Envíos</a></li>
            </ul>
        </section>
        <section id="listadoFooter">
            <p class="negrita">Mascotas</p>
            <ul>
                <li><a href="/product/perros">Perros</a></li>
                <li><a href="/product/gatos">Gatos</a></li>
            </ul>
        </section>
        <section>
            <p class="negrita">Medios de pago</p>
            <img class="imgEnviosPagos" src="/images/mastercard.png">
            <img class="imgEnviosPagos" src="/images/visa.png">
        </section>
        <section>
            <p class="negrita">Envios</p>
            <img class="imgEnviosPagos" src="/images/andreani.png">
            <img class="imgEnviosPagos" src="/images/correo-argentino.png">
        </section>
    </div>
    <p id="copyright"> Copyright © 2023 Huellitasantiago</p>

</footer>