<script src="/js/header.js"></script>
<header>
    <div class="header-inicial">
        <div class="burger-menu">
            <i class="fa-solid fa-bars fa-lg"></i>
        </div>
        <div id="menu">
            <ul><i id="iconClose" class="fa-solid fa-rectangle-xmark" ></i></ul>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/mascotas">MASCOTAS</a></li>
                <li><a href="/envios">ENVIOS</a></li>
                <li><a href="/mayoristas">MAYORISTAS</a></li>
                <li><a href="/sales">SALES</a></li>
            </ul>
          </div>
        <a href="/"> <img class="logo" src="/images/logo-huellitasantiago-redondo.png" alt="Logo de la empresa"/></a>
       
        <div id="iconos-header">
            <a href="/user/login"> <i id="iconoUser" class="fa-regular fa-circle-user"></i></a>
            <a href="/cart"> <i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </div>
    <div class="searchbox">
        <form action="/search" method="post">
            <input type="text" id="buscarProd" name="buscarProd" placeholder="Buscar producto"><button type="submit" class="search-button"><i id="busqueda"
                class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>

    <div class="header-tablet">
        <a href="/">  <img class="logo" src="/images/logo-huellitasantiago-redondo.png" alt="Logo de la empresa"></a>
        <div class="searchboxTablet">
            <form action="/search" method="post">
                <input type="text" id="buscarProd" name="buscarProd" placeholder="Buscar producto"> <button type="submit" class="search-button"><i id="busqueda"
                    class="fa-solid fa-magnifying-glass"></i></button>

            </form>
        </div>
        <div class="box-header-right">
            <div class="carritoHeader">
                <i class="fa-solid fa-cart-shopping"></i>
                <a href="/cart">Compra (1)</a>
            </div>
                
            <% if(!isLogged) { %>
                <div class="header-login-register">
                    <a id="registerButton" href="/user/register">Registro</a>
                    <a id="loginButton" href="/user/login">Iniciar sesión</a>
                </div>
            <% } else { %>
                <div class="header-login-register">
                    <a href="/user/profile"> Mi perfil </a>
                    <a href="/user/logout"> Logout </a>
                </div>
                <p>Bienvenido/a <%=userLogged.nombre + " " + userLogged.apellido%> </p>
            <% } %>
                
            

        </div>
    </div>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/mascotas">MASCOTAS</a></li>
            <li><a href="/envios">ENVIOS</a></li>
            <li><a href="/mayoristas">MAYORISTAS</a></li>
            <li><a href="/sales">SALES</a></li>
        </ul>
    </nav>
</header>
