<div class="marcas">
    <img src="/images/marcas/NUTRIQUE.png" />
    <img src="/images/marcas/PURINA.png" />
    <img src="/images/marcas/ROYAL-CANIN.png" />
    <img src="/images/marcas/pedigree.png" />
    <img src="/images/marcas/sieger.jpg" />
    <img src="/images/marcas/VITALCAN.png" />
</div>