<!DOCTYPE html>
<html lang="en">
<!-- include head -->
<%- include('../partials/head') %>

<body>
    <!-- include header -->
    <%- include('../partials/header') %>

<main>
<p class="rutahome"><a href="/checkout">Home</a> /inicio-compra</p>

 <!--Ver detalle de compra-es similar al del index-ver si no necesita partial-->

 <details class="cart-checkout"> <!--Checkout -Cart-Sección completa Mobile -->
    <summary id="summary">Detalle de tú compra</summary> 
    <content id="content-checkout">
        <div class="detalle-producto-checkout"> <!--Producto agregado al cart -->
            <p id="nombre-producto">Dispenser Azimut 1,5 lts. x 1</p>
                <div class="cant-producto"><!--Producto mas cant seleccionada -->
                  <img src="/images/productos/accesorios/dispensers/comedero-azimut.png" alt="dispenser-azimut"/>             
        </div>      
        <p id="precio-producto">$3.500</p>
         </div>

        <div class="resumen-compra-checkout">      
            <div class="detalle-compra">
              <p id="">SUBTOTAL (sin envío): <span>$ 3.500</span></p>
              <p id="">DESCUENTO: <span>$ 0.00</span></p>
              <p id="">COSTO DE ENVÍO: <span>$ 0.00</span></p>                    
              <p id="">TOTAL: <span>$ 3.500</span></p>
            </div>
        </div>
      </content>
 </details>

<form action="/checkout" method="POST" class="formulario-checkout" name="formulario-checkout" id="formulario-checkout">

        <!--Correo y newsletter-->
        <p class="title-form-checkout">Datos de contacto</p>
        
        <input type="email" id="email" name="email" placeholder="Email" required autocomplete="email">
        
        <div class="select-checkout">
        <input type="radio" id="newsletter" name="newsletter" checked autocomplete="on">
        <label for="newsletter">Quiero recibir novedades por email</label>
        </div>
        

    <!--Datos del Envío- ver calculo de costos!!-->        
        <!--Selección de método de envío (Andreani-Correo Argentino)-->
        <p class="title-form-checkout">Envío</p>
      <div class="select-envio">       
        <label for="envio-andreani">
        <input type="radio" name="envio-andreani" id="envio-andreani" value="envio-andreani"> <img class="imgEnvioCheckout" src="/images/andreani.png" alt="andreani"></label>
        <label for="envio-correo-arg">
        <input type="radio" name="envio-correo-arg" id="envio-correo-arg" value="envio-correo-arg"> <img class="imgEnvioCheckout" src="/images/correo-argentino.png" alt="correo-argentino"></label>
      </div>        
        

    <!--Datos Personales-->
          <!--Datos del Destinatario-->
          <div class="datos-destinatario">
          <p class="title-form-checkout">Datos del Destinatario</p>
           
            <input type="text" name="nombre" id="nombre" placeholder="Nombre" required autocomplete="given-name">
            <span class="error-checkout">Nombre inválido</span>
            <input type="text" name="apellido" id="apellido" placeholder="Apellido" required autocomplete="family-name">
            <span class="error-checkout">Apellido inválido</span>
            <input type="tel" name="tel" id="tel" placeholder="Teléfono" required autocomplete="tel">
            <span class="error-checkout">Teléfono inválido</span>
          
        </div>

          <!--Domicilio del Destinatario-->
          <p class="title-form-checkout">Domicilio del Destinatario</p>
      <div class="domicilio-destinatario">    
          <input type="text" name="calle" id="calle" placeholder="Calle" required autocomplete="street-address">
          <span class="error-checkout">Nombre de calle inválido</span>

          <div class="calle-numero-checkout">
          <input type="number" name="numero" id="numero" placeholder="Número">
          <span class="error-checkout">Número inválido</span>
          <input type="radio" name="sin-numero" id="sin-numero">
          <label for="sin-numero" class="title-form-checkout">Sin número</label>
          </div>

          <input type="text" name="barrio" id="barrio" placeholder="Barrio (Opcional)">
          <span class="error-checkout">Barrio inválido</span>
          <input type="text" name="provincia" id="provincia" placeholder="Provincia">
          <span class="error-checkout">Provincia inválida</span>          
          <input type="text" name="ciudad" id="ciudad" placeholder="Ciudad">
          <span class="error-checkout">Ciudad inválida</span>

          <div class="cod-postal-checkout"><!--Código Postal-->
            <input type="number" name="cod-ciudad" id="cod-ciudad" placeholder="Código Postal">
            <a href="https://www.correoargentino.com.ar/formularios/cpa">Encontrá tu CP</a>
          </div>
        </div>

    <!--Datos de Pago-->

          <!--Datos de facturación-->
          <p class="title-form-checkout">Datos de facturación</p>
            
            <input type="text" name="dni-cuil" id="dni-cuil" placeholder="DNI o CUIL" autocomplete="off">
            <span class="error-checkout">DNI O CUIL incorrecto</span>
            
            <div class="select-checkout">
            <input type="radio" name="datos-facturacion" id="datos-facturacion" checked autocomplete="on">
            <label class="title-form-checkout" for="datos-facturacion">Datos de facturación y entrega son los mismos</label>
            </div>
                 
                  
        <!--Selección del Método de Pago (Visa-Mastercard)-->
                    
        <p class="title-form-checkout">Pago</p>
        <div class="select-pago">    
          <label for="visa">
            <input type="radio" name="visa" id="visa" value="visa"> <img class="imgPagoCheckout" src="/images/visa.png" alt="visa"></label>
          <label for="mastercard">
                <input type="radio" name="mastercard" id="mastercard" value="mastercard"> <img class="imgPagoCheckout" src="/images/mastercard.png" alt="mastercard"></label>        
        </div>
            <p class="nota-checkout">Revisa con detenimiento los datos cargados para evitar inconvenientes en el envío de tu producto.</p>
            
        
        <div class="botones-final-checkout">
            <!-- Editar todos los datos-->
            <button type="reset" id="reset-checkout" name="reset-checkout" value="editar">Editar</button>
            
            <!-- Borrar todos los datos-->
            <button type="delete" id="delete-checkout" name="delete-checkout" value="borrar">Borrar</button>

            <!-- Enviar datos-->      
            <button type="submit" id="submit-checkout" name="submit-checkout" value="enviar">Finalizar Compra</button>
        </div>

        </form>


    </main>

    <!-- include footer -->
    <%- include('../partials/footer') %>
   
     </body>
   
   </html>
   