<!DOCTYPE html>
<html lang="en">
<!-- include head -->
<%- include('../partials/head') %>

<body>
    <!-- include header -->
    <%- include('../partials/header') %>

    <main>
      <section class="contenido">
        <p class="rutahome"><a href="/">Home</a> /Carrito</p>
        
        <div style="overflow-x:auto;">
        <table><!--Tabla Cart desde 361px-->
          <tbody class="detallecarrito">
            <tr>
              <th scope="col">IMAGEN</th>
              <th scope="col" colspan="3">PRODUCTO</th>
              <th scope="col">PRECIO</th>
              <th scope="col">DESCUENTO</th>
              <th scope="col">CANTIDAD</th>
              <th scope="col">TOTAL CON DESCUENTO</th>
              <th scope="col">ACCIONES</th>
            </tr>
          </tbody>
        </table><!--Fin Tabla Cart desde 361px-->
      </div>

        <div class="cart"> <!--Main -Cart-Sección completa Mobile -->
            <div class="detalle-producto"> <!--Producto agregado al cart -->
                <p id="nombre-producto">Dispenser Azimut 1,5 lts.<i class="fa-regular fa-trash-can"></i></p>               
                    <div class="cant-producto"><!--Producto mas cant seleccionada -->
                      <img src="/images/productos/accesorios/dispensers/comedero-azimut.png" alt="dispenser-azimut"/>                 
                        <div><!--Seccion para agregar o restar productos -->
                          <i class="fa-solid fa-plus cant-icono"></i>
                          <p id="descripcion">1</p>
                          <i class="fa-solid fa-minus cant-icono"></i>
                        </div>
                    </div>      
            <p id="precio-producto">$3.500</p>
             </div>

            <div class="resumen-compra">      
                <div class="detalle-compra">
                  <p>TOTAL SIN ENVÍO: $ <span id="subtotalfinal"></span></p>
            </div>

            <div> 
              <div class="enviometodos">
                <p class="title-form-checkout">Seleccione el método de envío</p>
                <div class="select-envio">  
                    <div>
                      <input type="radio" name="envio" id="envio-andreani" value="5000"> <img class="imgEnvioCheckout" src="/images/andreani.png" alt="andreani">
                      <p>$ 5000</p>
                    </div>  
                    <div>
                      <input type="radio" name="envio" id="envio-correo-arg" value="3000"> <img class="imgEnvioCheckout" src="/images/correo-argentino.png" alt="correo-argentino">
                      <p>$ 3000</p>
                    </div>   
                    
                </div>  
              </div>
              

              <div class="detalle-compra" id="conenvio">
                <p>TOTAL CON ENVÍO: $ <span id="totalconenvio"></span></p>
              </div>
              
              <div class="pagocompra">
                <p class="title-form-checkout">Medios de pago</p>
                <p class="">Actualmente sólo trabajamos con transferencia banciaria. Los datos para realizar la misma son:</p>
                    <ul>
                        <li>
                            Nro de cuenta: XXX-0875
                        </li>
                        <li>
                            Nro de CBU: 0112258547555548001
                        </li>
                        <li>
                            Alias CBU: huellitas.santiago
                        </li>
                        <li>
                            Titular: Soledad Smith
                        </li>
                        <li>
                            Banco: Hipotecario
                        </li>
                        
                        
                    </ul>
                <p class="">Por favor envíe el comprobante de la transferencia a este correo: info.pedidos@huellitasantiago.com</p>
              </div>
              

            </div>

                <div class="center"><!--Botones Inicio compra-->

                  <a href="/product"><input
                    type="button"
                    name="seguir-compra"
                    id="seguir-compra" 
                    value="VER MÁS PRODUCTOS"
                  /></a>

                  <button type="button" id="finalizar-compra">FINALIZAR COMPRA</button>
                </div>
        </div><!--Fin Cart-Sección completa -->

      </section>
        
    </main>

 <!-- include footer -->
 <%- include('../partials/footer') %>

  </body>

</html>
