<!DOCTYPE html>
<html lang="en">
<!-- include head -->
<%- include('../partials/head') %>

<body>
    <!-- include header -->
    <%- include('../partials/header') %>
   
    <main>
        <section>
            <h2 class="center">El link para reestablecer su contraseña fue enviado a su casilla de correo.</h2>
            <br>
            <br>            
        </section>

        <!-- include marcas -->
        <%- include('../partials/marcas') %>
    </main>
     <!-- include footer -->
     <%- include('../partials/footer') %>

</body>

</html>