<!DOCTYPE html>
<html lang="en">
  <!-- include head -->
  <%- include("../partials/head.ejs") %>
  <script src="/js/cartView.js"></script>

  <body>
    <!-- include header -->
    <%- include('../partials/header') %>
    <main>
      <p class="rutahome">
        <a href="/users/<%= user.id %>/profile">Perfil</a>/ Notificaciones
      </p>
      <section class="compra-user">
        <div class="">
          <h1>NOTIFICACIONES</h1>
          <p>
            <b>Usted no cuenta con ninguna notificación.</b>
          </p>
        </div>
      </section>
    </main>

    <!-- include footer -->
    <%- include('../partials/footer') %>
  </body>
</html>
