<!DOCTYPE html>
<html lang="en">

<!-- include head -->
<%- include("../partials/head.ejs") %>

<body>
    <!-- include header -->
    <%- include('../partials/header') %>

    <main class="mainusuario">
        <div class="cabezausuario">
            <img src="/images/user-solid.svg"/>
        <div class="identidad">
            <p class="nombre">Juan José Pérez</p>
            <p class="correo">jjperez@gmail.com</p>
        </div>
        </div>

        <div class="actividad">
            <p><strong>Actividad</strong></p>
            <br>
            <p class="historial"><i class="fa-solid fa-users"></i> <a href="/user/usersList" class="">Listado de usuarios</a></p>
            <br>
        </div>
        <div class="sesiones">
            <br>
            <p class="sesion"><i class="fa-solid fa-right-from-bracket"></i> <a href="/user/logout">Cerrar sesión</a> </p>
        </div>
    </main>

    <!-- include footer -->
    <%- include('../partials/footer') %>
</body>

</html>