<!DOCTYPE html>
<html lang="en">

<!-- include head -->
<%- include('../partials/head') %>


<body>
    <!-- include header -->
    <%- include('../partials/header') %>
   
    <main class="mainlogin">
        <p class="rutahome"><a href="/">Home</a> / Registro</p>
        <form action="/register" method="POST" id="formRegistro">
            <label for="email">Email</label> 
            <input type="email" name="email" id="email">
            <br>
            <br>
            <label for="contraseña">Contraseña</label> 
            <input type="password" name="contraseña" id="contraseña">            
            <br>
            <br>
            <label for="confirmar">Confirmar password</label> 
            <input type="password" name="contraseña" id="contraseña">            
            <br>
            <br>
            <label for="nombre">Nombre</label> 
            <input type="name" name="name" id="name">
            <br>
            <br>
            <label for="apellido">Apellido</label> 
            <input type="apellido" name="apellido" id="apellido">            
            <br>
            <div class="VALIDACION">
                <img src="/images/captcha.png" alt = "Imagen catpcha">
            </div>
            <br>            
            <button type="submit"><a href="/menu-usuario">REGISTRARME</a></button>
            <br>
            </form>
    </main>

    <!-- include footer -->
    <%- include('../partials/footer') %>
</body>

</html>